@page "/"
@page "/home"
@page "/removed/{RemovedExam}"
@page "/{DoExam:bool}"
@using Microsoft.Data.Sqlite;
@using ChoicesTest.Models;
@inject NavigationManager navigationManager;
@inject IJSRuntime JsRuntime;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage sessionStorage;

<h1>Welcome @user to Exam Access</h1>
@if (loading)
{
    <p>Loading...</p>
    LoadData();
}
else
{
    if (!string.IsNullOrWhiteSpace(user))
    {
        <h5>Available exams:</h5>
        if (!DoExam)
        {
            if (user == "admin")
            {
                if (Exams.Count == 0)
                {
                    <ul>
                        <li>There is no exam avaible yet.</li>
                    </ul>
                }
                else
                {
                    <ul style="max-height:450px;overflow-y:scroll">
                        <Virtualize Items="@Exams.Keys" Context="name">
                            <li><a href="/exam-create/@name/true/@Exams[name]"><img src="document.png" /></a><p>Code: @name<br />Name: @Exams[name]</p></li>
                        </Virtualize>
                    </ul>
                }
                <hr />
                <h3>Add new exam</h3>
                <input @bind="NewExamCode" type="text" placeholder="New examcode">
                <br />
                <button class="btn btn-primary" style="margin-top: 10px;" @onclick="CreateNewExam">Add new exam</button>
            }
            else
            {
                <p>
                    This is a product of Hieu Le. This app will allow you to create and do exams.<br />
                    However, in order to be able to create exams, you have to log in as admin.<br />
                    If you are not the admin, you are only able to do exams.
                </p>
                GetHistory();
                <h6>This is your history of doing:</h6>
                <ul style="max-height:400px;overflow-y:scroll">
                    <Virtualize Items="@history.Keys" Context="result">
                        <li><img src="document.png" />Exam: @history[result].examCode<br />Score: @history[result].score.ToString()% at @history[result].time</li>
                        <hr />
                    </Virtualize>
                </ul>
            }
        }
        else
        {
            if (Exams.Count == 0)
            {
                <ul>
                    <li>There is no exam avaible yet.</li>
                </ul>
            }
            else
            {
                <ul style="max-height:450px;overflow-y:scroll">
                    <Virtualize Items="@Exams.Keys" Context="name">
                        <li><a href="/do-exam/@name/@Exams[name]"><img src="document.png" /></a><p>Code: @name<br />Name: @Exams[name]</p></li>
                    </Virtualize>
                </ul>
            }
        }
    }
    else
    {
        <h3>Log in to start using Exam Access</h3>
    }
}



@code {
    [Parameter]
    public bool DoExam { get; set; } = false;
    [Parameter]
    public string RemovedExam { get; set; } = null;
    private string user = string.Empty;
    private string account = string.Empty;
    private string NewExamCode;
    private SqliteConnection connection;
    private bool loading = true;
    private Dictionary<string, string> Exams = new();
    private Dictionary<int, ExamResult> history = new();

    private async Task LoadAccountAsync()
    {
        try
        {
            var result = await sessionStorage.GetAsync<string>("account");
            if (result.Success)
            {
                account = result.Value;
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            account = string.Empty;
            user = string.Empty;
            await sessionStorage.DeleteAsync("user");
            await sessionStorage.DeleteAsync("account");
        }
        loading = false;
        StateHasChanged();
    }

    private async void LoadData()
    {
        try
        {
            var task = LoadAccountAsync();
            var result = await sessionStorage.GetAsync<string>("user");
            if (result.Success)
            {
                user = result.Value;
                await task;
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            account = string.Empty;
            user = string.Empty;
            await sessionStorage.DeleteAsync("user");
            await sessionStorage.DeleteAsync("account");
        }
        loading = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var connectionStringBuilder = new SqliteConnectionStringBuilder();
        connectionStringBuilder.DataSource = "exams.db";
        connection = new SqliteConnection(connectionStringBuilder.ConnectionString);
        var task = connection.OpenAsync();
        var myCmd = connection.CreateCommand();
        var myCmd2 = connection.CreateCommand();
        myCmd2.CommandText = "CREATE TABLE IF NOT EXISTS accounts(username TEXT PRIMARY KEY, password TEXT, name TEXT);";
        if (RemovedExam is not null)
        {
            myCmd.CommandText = $"DELETE FROM exam_collection WHERE code = '{RemovedExam}';";
        }
        else
        {
            myCmd.CommandText = "CREATE TABLE IF NOT EXISTS exam_collection(code TEXT PRIMARY KEY, name TEXT);";
        }
        await task;
        myCmd.ExecuteNonQuery();
        myCmd2.ExecuteNonQuery();
        GetTables();
        connection.Close();
    }

    private void GetTables()
    {
        var cmd = connection.CreateCommand();
        cmd.CommandText = "SELECT * FROM exam_collection";
        using var rdr = cmd.ExecuteReader();
        while (rdr.Read())
        {
            Exams.Add(rdr.GetString(0), rdr.GetString(1));
        }
    }

    private async void GetHistory()
    {
        history = new();
        var task = connection.OpenAsync();
        var myCmd = connection.CreateCommand();
        myCmd.CommandText = $"SELECT * FROM {account} ORDER BY score DESC";
        await task;
        using var rdr = myCmd.ExecuteReader();
        while (rdr.Read())
        {
            var id = rdr.GetInt32(0);
            if (!history.ContainsKey(id))
            {
                history.Add(rdr.GetInt32(0), new ExamResult() { examCode = rdr.GetString(1), score = rdr.GetDecimal(2), time = rdr.GetString(3) });
            }
            
        }
        connection.Close();
    }

    private async void CreateNewExam()
    {
        if (string.IsNullOrWhiteSpace(NewExamCode))
        {
            await JsRuntime.InvokeAsync<object>("alert", "Please fill in the examcode.");
        }
        else
        {
            NewExamCode.Trim();
            if (Exams.ContainsKey(NewExamCode))
            {
                await JsRuntime.InvokeAsync<object>("alert", "Examcode has already existed!");
                NewExamCode = string.Empty;
            }
            else
            {
                navigationManager.NavigateTo($"/exam-create/{NewExamCode}");
            }
        }
    }
}
